body{
    background: #3C3E40;
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

.article {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    display: inline-block;
    height: 395px;
    width: 250px;
    margin: 10px;
}
.article .cover {
    width: 250px;
    height: 330px;
}
.article .cover .img {
    width: 250px;
    height: 330px;
}
.article .info {
    background-color: #1D1A26;
    width: 250px;
    height: 65px;
    text-align: center;
}
.article .info .score {
    color: #FFFFFF;
    text-align: center;
    margin: 0px 15px 15px 15px;
    padding-top: 20px;
    letter-spacing: 1px;
    display: inline-block;
    font-size: 20px;
}
.article .info .score .icon {
    color: #E1BE22;
    margin-left: 5px;
}
.article .info .trailer {
    border: 1px solid #F64145;
    border-radius: 5px;
    text-decoration: none;
    padding: 5px 15px;
    margin-top: 10px;
    cursor: pointer;
}
.article .info .trailer .text {
    color: #F64145;
    margin-left: 5px;
    font-size: 14px;
}
.article .info .trailer .icon {
    color: #F64145;
}

.favorites .icon{
    color: #E1BE22;
}

.grid-container{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}

.header{
    background: #1C1925;
    color: #F64145;
    padding: 1px;
}

.header .title{
    display: inline-block;
    margin-left: 30px;
}

.header .title a{
    color: #F64145;
    text-decoration: none;
}

.header .user-container{
    display: inline-block;
    float: right;
    margin: 20px 30px 0px 0px;
}

.header .favorites{
    display: inline-block;
    float: right;
    margin: 20px 100px 0px 0px;
    cursor: pointer;
}

.header .user-container .fa-user{
    margin-right: 5px;
}

.header .favorites .fa-star{
    margin-right: 5px;
}


.hidden{
    display: none;
}

.modal{
    background: #3A3634;
    padding: 20px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 80%;
    max-width: 80%;
    height: 80%;
    max-height: 100%;
}

.modal-name .title{
    color: #F64145;
    font-size: 24px;
}


.modal .icon-close{
    color: #FFFFFF;
    cursor: pointer;
    float: right;
    margin-bottom: 10px;
}

.modal #iframe-trailer{
    width: 100%;
    height: 95%;
    max-height: 100%;
    max-width: 100%;
}

.like{
    display: inline-block;
    cursor: pointer;
}

.like .icon{
    color: #F64145;
    margin-right: 10px;
    font-size: 22px;
}

.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
  }

.search{
    margin-top: 10px;
    margin-left: 10px;
    display: inline-block;
    width: 60%;
}

.search .input-search{
    border: 1px solid #1C1925;
    height: 30px;
    width: 30%;
    text-decoration: none;
    font-size: 16px;
}

.search .button{
    background-color: #1D1A26; /* Green */
    border: none;
    color: #F64145;
    padding: 8px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.pagination{
    display: inline-block;
    float: right;
}

.pagination ul{
    margin: 5px 20px;
}

.pagination ul li{
    display: inline-block;
    padding: 0;
    background-color: #1D1A26; /* Green */
    border: none;
    color: #F64145;
    padding: 5px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

.modal-name{
    background: #3A3634;
    padding: 20px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 60%;
    max-width: 80%;
    height: 40%;
    max-height: 100%;
}

.modal-name .input-name{
    border: 1px solid #1C1925;
    height: 30px;
    width: 30%;
    text-decoration: none;
    font-size: 16px;
}

.modal-name .button-name{
    background-color: #1D1A26; /* Green */
    border: none;
    color: #F64145;
    padding: 8px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.modal-name .title{
    font-size: 40px;
    margin-bottom: 20px;
}

.modal-name .description{
    color: #FFFFFF;
    font-size: 20px;
}


